@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  transition: box-shadow .3s;
  background: lightgrey;
  /* more style */
}

input:checked {
  /* box-shadow: inset 0 0 0 20px #555555; */
}

